__pycache__/
.idea/
datasets
easy_run_1
old
*.pyc
*.pyo
*.sw*
sh/
*.txt
.vscode/
external/
playground/
!requirements.txt
!docs/requirements-docs.txt
.DS_Store
docs/_build/
data/reactiontree/
python-2024-04-24T20:23:28+03:00.svg
python-2024-04-24T20:41:32+03:00.svg
